
<div xmlns:th="http://www.thymeleaf.org" th:fragment="header">

	<!-- this is header -->
	<nav class="navbar navbar-inverse">
		<div class="container">
			
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{/}">eMobility</a>
			</div>
			
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a th:href="@{/admin/cp/chargePoints}">Charge Points</a></li>
				</ul>
				<ul class="nav navbar-nav">
					<li class="active"><a th:href="@{/admin/user/users}">Users</a></li>
				</ul>
				<ul class="nav navbar-nav">
					<li class="active"><a th:href="@{/admin/events}">Events Log</a></li>
				</ul>
			</div>
			
		</div>
	</nav>
</div>