<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	
	<div th:fragment="content">
	    <div class="box">
	    	<div class="well well-sm">Charge Points</div>
	    	<table class="table table-bordered">
				<thead class="text-center">
					<tr>
						<th>Id</th>
						<th>Unique Identifier</th>
						<th>Name</th>
						<th>Serial No</th>
						<th>Model</th>
						<th>Vendor</th>
						<th>Status</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cp : ${chargePoints}">
				        <td class="highlight" th:text="${cp.id}"></td>
				        <td th:text="${cp.uniqueIdentifier}"></td>
				        <td th:text="${cp.name}"></td>
				        <td th:text="${cp.serialNo}"></td>
				        <td th:text="${cp.model}"></td>
				        <td th:text="${cp.vendor}"></td>
				        <td class="highlight" th:text="${cp.status}"></td>
				        <td><a id="btn-add-cp" th:href="@{'/admin/cp/view/' + ${cp.id}}" class="btn btn-info">View</a></td>
				        <td><a id="btn-add-cp" th:href="@{'/admin/cp/edit/' + ${cp.id}}" class="btn btn-success">Edit</a></td>
				        <td><a id="btn-add-cp" th:onclick="'javascript:deleteChargePoint(this, \'' + ${cp.id} + '\');'" class="btn btn-danger">Delete</a></td>
				    </tr>
				</tbody>
			</table>
			
			<div id="cp-actions">
				<a id="btn-add-cp" th:href="@{/admin/cp/add}" class="btn btn-success btn-main">Add Charge Point</a>
			</div>
			
	    </div>
	</div>
</body>
</html>