<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div class="cp-pricing-tab" th:fragment="fragment-cp-control">
			
			<div class="row">
				<div class="col-sm-9">
					<h2 class="border-btm" th:text="${selectedCP.name}"></h2>
					<input type="hidden" id="control-cp-uid" th:value="${selectedCP.uniqueIdentifier}"/>
					
					<div class="row">
						<div class="col-sm-9">
							<table class="table">
								<tr>
									<td>Status</td>
									<td class="strong" th:text="${selectedCP.status}">status</td>
								</tr>
								<tr>
									<td>Socket</td>
									<td class="strong" th:text="${socketId}">socketId</td>
								</tr>
								<tr>
									<td>Started at</td>
									<td>
										<div class="form-group" style="margin-bottom: 0px; width: 50%;">
            								<div class="input-group date" id="start-at-date">
												<input type="text" class="form-control" required="required"/>
												<span class="input-group-addon">
								                    <span class="glyphicon glyphicon-calendar"></span>
								                </span>
								           	</div>
								       	</div>
									</td>
								</tr>
								<tr>
									<td>Ended at</td>
									<td>
										<div class="form-group" style="margin-bottom: 0px; width: 50%;">
            								<div id="ended-at-date" class="input-group date">
												<input style="margin-bottom: 0px;" type="text" class="form-control" required="required"/>
												<span class="input-group-addon">
								                    <span class="glyphicon glyphicon-calendar"></span>
								                </span>
								           	</div>
								       	</div>
									</td>
								</tr>
								<tr>
									<td>kWh</td>
									<td><input style="width: 50%;" type="text" class="form-control" required="required"/></td>
								</tr>
								<tr>
									<td>Customer</td>
									<td><input id="control-user-id" type="text" class="form-control" required="required"/></td>
								</tr>
								<tr>
									<td>Reservation Id</td>
									<td><input id="control-res-id" type="text" class="form-control" required="required"/></td>
								</tr>
							</table>
						</div>
						
						<div class="col-sm-3">
							<div id="control-actions">
								<button id="btn-remote-charge" class="btn btn-success">Charge</button>
								<button id="btn-remote-stop" class="btn btn-warning">Stop</button>
								<button id="btn-release" class="btn btn-danger">Release</button>
								<button id="btn-cancel-res" class="btn btn-danger">Cancel Reservation</button>
								<button id="btn-clear-cache" class="btn btn-danger">Clear Cache</button>
								<button id="btn-reboot-station" class="btn btn-danger">Reboot Station</button>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
    	</div>
	</body>
</html>