<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div class="cp-info-tab" th:fragment="f-cp-info">
			
			<div class="row">
				<div class="col-sm-9">
					<h2 class="border-btm" th:text="${selectedCP.name}"></h2>
					
					<div class="row cp-info-row">
						<div class="col-sm-4">
							<strong>Name</strong><br/><span th:text="${selectedCP.name}"></span>
						</div>
						<div class="col-sm-4">
							<strong>Unique Identifier</strong><br/><span th:text="${selectedCP.uniqueIdentifier}"></span>
						</div>
						<div class="col-sm-4">
							<strong>Serial No</strong><br/><span th:text="${selectedCP.serialNo}"></span>
						</div>
					</div>
					
					<div class="row cp-info-row">
						<div class="col-sm-4">
							<strong>Model</strong><br/><span th:text="${selectedCP.model}"></span>
						</div>
						<div class="col-sm-4">
							<strong>Vendor</strong><br/><span th:text="${selectedCP.vendor}"></span>
						</div>
						<div class="col-sm-4">
							<strong>Status</strong><br/><span th:text="${selectedCP.status}"></span>
						</div>
					</div>
					
					<div class="row cp-info-row">
						<div class="col-sm-4">
							<strong>IP Address</strong><br/><span th:text="${selectedCP.ipAddress}"></span>
						</div>
						<div class="col-sm-4">
							<strong>Port</strong><br/><span th:text="${selectedCP.port}"></span>
						</div>
						<div class="col-sm-4">
							<strong>Contact Person</strong><br/><span th:text="${selectedCP.contactPerson}"></span>
						</div>
					</div>
					
					<div class="row cp-info-row">
						<div class="col-sm-4">
							<strong>Address</strong><br/><span th:text="${selectedCP.address}"></span>
						</div>
						<div class="col-sm-4">
							<strong>City</strong><br/><span th:text="${selectedCP.city}"></span>
						</div>
					</div>
					
				</div>
			</div>
    	</div>
	</body>
</html>