<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div class="cp-info-tab" th:fragment="content">
			
			<p>Welcome to eMobility central system GUI</p>
			
			<ul>
				<li><a th:href="@{/admin/cp/chargePoints}">Charge Points</a></li>
				<li><a th:href="@{/admin/user/users}">Users</a></li>
				<li><a th:href="@{/admin/events}">Event Log</a></li>
			</ul>
			
    	</div>
	</body>
</html>