<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
	<title>eMobility</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	
	<script type="text/javascript" th:src="@{/jquery-3.2.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/jquery-ui.min.js}"></script>
	<!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
	  google.charts.load('current', {packages: ['corechart']});
	  google.charts.setOnLoadCallback(drawChart);
	</script> -->
	<script type="text/javascript" th:src="@{/emobility.js}"></script>
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
	
	<link rel="stylesheet" th:href="@{/jquery-ui.css}" href="../../jquery-ui.css"></link>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<link rel="stylesheet" th:href="@{/emobility.css}" href="../../emobility.css"></link>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"></link>
</head>
<body>
	
	<div th:replace="fragments/header :: header"></div>
	
	<!-- content fragment -->
	<div class="container">
		<div th:replace="${view} :: content">Content</div>
	</div>
	
	<div th:replace="fragments/footer :: footer"></div>
	
</body>
</html>