<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div class="cp-info-tab" th:fragment="content">
			
			<div class="well well-sm">Event Details</div>
			
			<div class="row">
				<div class="col-sm-9">
					<div class="row cp-info-row">
						<div class="col-sm-4">
							<strong>Event Id</strong><br/><span th:text="${event.eventId}"></span>
						</div>
						<div class="col-sm-4">
							<strong>Unique Identifier</strong><br/><span th:text="${event.cpUniqueIdentefier}"></span>
						</div>
						<div class="col-sm-4">
							<strong>Even Type Id</strong><br/><span th:text="${event.msgTypeId}"></span>
						</div>
					</div>
					
					<div class="row cp-info-row">
						<div class="col-sm-4">
							<strong>Operation Id</strong><br/><span th:text="${event.operationId}"></span>
						</div>
						<div class="col-sm-4">
							<strong>Event Date</strong><br/><span th:text="${#dates.format(event.eventDate, 'dd-MMM-yyyy')}"></span>
						</div>
					</div>
					
					<div id="event-details-table" class="row">
						<table class="table">
							<tbody>
								<tr th:each="details : ${eventDetails}">
									<td th:text="${details.key}"></td>
									<td class="value" th:text="${details.value}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					
				</div>
			</div>
			
			<div><a class="btn btn-success" th:href="@{/admin/events}">Back</a></div>
			
    	</div>
	</body>
</html>