<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div class="cp-info-tab" th:fragment="content">
			
			<div class="well well-sm">Events Log</div>
			
			<div style="padding-bottom: 20px;">
				<table>
					<tbody>
						<tr>
							<td>Filter By:</td>
							<td style="padding-left: 5px;">
								<select id="event-log-operations" class="form-control">
								    <option th:each="o : ${operations}" th:value="${o.operationId}" th:text="${o.operationName}"/>
							    </select>
							</td>
							<td style="padding-left: 5px;"><a id="btn-event-filter" class="btn btn-success" th:href="@{/admin/events}">Filter</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div id="events">
				<table class="table table-bordered">
					<thead class="text-center">
						<tr>
							<th>Event Id</th>
							<th>Unique Identifier</th>
							<th>Message Type Id</th>
							<th>Operation Id</th>
							<th>Date</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="event : ${events}">
					        <td class="highlight" th:text="${event.eventId}"></td>
					        <td th:text="${event.cpUniqueIdentefier}"></td>
					        <td th:text="${event.msgTypeId}"></td>
					        <td th:text="${event.operationId}"></td>
					        <td th:text="${#dates.format(event.eventDate, 'dd-MMM-yyyy')}"></td>
					        <td><a id="btn-add-cp" th:href="@{'/admin/events/view/' + ${event.eventId}}" class="btn btn-info">View</a></td>
					    </tr>
					</tbody>
				</table>
			</div>
			
    	</div>
	</body>
</html>