<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	
	<div th:fragment="content">
	    <div class="box">
	    	<div class="well well-sm">Users</div>
	    	<table class="table table-bordered">
				<thead class="text-center">
					<tr>
						<th>User Id</th>
						<th>Full Name</th>
						<th>Status</th>
						<th>Organization</th>
						<th>Join Date</th>
						<th>Payment Method</th>
						<th>Payment Info</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${users}">
				        <td class="highlight" th:text="${user.userId}"></td>
				        <td th:text="${user.fullName}"></td>
				        <td th:text="${user.status}"></td>
				        <td th:text="${user.organizationId}"></td>
				        <td th:text="${#dates.format(user.subscriptionDate, 'dd-MMM-yyyy')}"></td>
				        <td th:text="${user.paymentMethod}"></td>
				        <td th:text="${user.paymentInfo}"></td>
				        <td><a id="btn-add-cp" th:href="@{'/admin/user/edit/' + ${user.userId}}" class="btn btn-success">Edit</a></td>
				        <td><a id="btn-add-cp" th:onclick="'javascript:deleteUser(this, \'' + ${user.userId} + '\');'" class="btn btn-danger">Delete</a></td>
				    </tr>
				</tbody>
			</table>
			
			<div id="cp-actions">
				<a id="btn-add-cp" th:href="@{/admin/user/add}" class="btn btn-success btn-main">Add User</a>
			</div>
			
	    </div>
	</div>
</body>
</html>